{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}パスワード再設定{% endblock %}

{% block content %}
<h2>パスワード再設定</h2>
<div class="row">
    <div class="col-md-5">
        <div class="card p-1">
            <div class="card-body">
                <p>パスワード再設定用のメールを送信します。Django EC Siteに登録されたメールアドレスを入力してください。</p>
                <form class="mb-3" method="post">
                    {% csrf_token %}
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email|add_class:"form-control" }}
                    {% for error in form.email.errors %}
                    <small class="text-danger d-block">{{ error }}</small>
                    {% endfor %}
                </form>
                <button type="submit" class="btn btn-primary text-nowrap">メールを送信する</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}