{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}リスト一覧{% endblock %}

{% block content %}
<h1>リスト一覧</h1>
{% if not object_list %}
    <p class="alert alert-warning text-center">No books available</p>
    <p class="text-center"><a href="{% url 'products:book_list' %}">Back to Home</a></p>
{% endif %}
<div class="row">
{% for book in object_list %}
    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-card-list mb-4">
            <a href="{{ book.get_absolute_url }}"><img src="{% if book.image %}{{ book.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top img-fluid" alt="{{ book.name }}"></a>
            <div class="card-body">
                <a href="{{ book.get_absolute_url }}" class="card-title d-block">{{ book.name }}</a>
                <a href="{{ book.author.get_absolute_url }}" class="card-text">{{ book.author }}</a>
                <p class="card-text">{{ book.price|intcomma }}円</p>
                <p class="card-text"><a href="{% url 'products:book_list' book.category.name %}">{{ book.category }}</a></p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/products.js' %}"></script>
{% endblock %}