{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 text-center">
        <img src="{{ book.image.url }}" alt="{{ book.name }}" class="img-fluid">
    </div>
    <div class="col-md-5">
        <h3>{{ book.name }}</h3>
        <p><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>(著)</p>
        <hr>
        <p><a href="{% url 'products:book_list' book.category.name %}">{{ book.category }}</a></p>
        <p>{{ book.price|intcomma }}円</p>

        <h4 class="mt-4">商品詳細</h4>
        <table class="table">
            <tr>
                <th>著者</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>出版日</th>
                <td>{{ book.publication_date|date:"Y年n月j日" }}</td>
            </tr>
            <tr>
                <th>出版社</th>
                <td>{{ book.publisher }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3 text-center pt-4 border rounded">
        {% if form %}
        <form method="post" action="{% url "carts:add_cart" book.pk %}" class="mb-3">
            {% csrf_token %}            
            {{ form }}
            <button class="btn btn-danger btn-lg mt-3 w-100" type="submit"><i class="bi bi-cart"></i> カートに入れる</button>
        </form>
        {% else %}
        <p class="text-danger">現在在庫切れです。</p>
        {% endif %}
        <form method="post" action="{% url 'products:favorite_toggle' book.pk %}">
            {% csrf_token %}
            {% if favorite %}
            <button class="btn btn-primary w-100" type="submit"><i class="bi bi-star"></i> お気に入りから削除</button>
            {% else %}
            <button class="btn btn-warning w-100" type="submit"><i class="bi bi-star-fill"></i> お気に入りに追加</button>
            {% endif %}
        </form>
    </div>
</div>
<div class="row mt-4">
    <h3>著者のその他の作品</h3>
    <div class="col-12">
        ここにカードで何件か表示。
    </div>
</div>
{% endblock %}