.img-product {
    width: 400px;
    height: 400px;
}

.img-product-list {
    width: 300px;
    height: 300px;
}

.img-author {
    max-width: 350px;
    max-height: 350px;
}

.img-cart {
    width: 180px;
    height: 180px;
}

.img-order {
    width: 145px;
    height: 145px;
}

.w-card-list {
    max-width: 300px;
}

.sidebar {
    width: 200px;
    height: 100vh;
}

.max-w-5 {
    max-width: 400px;
}

.m-link-hover:hover {
  background-color: #b1d5f8; /* 薄いグレー */
  cursor: pointer;
  transition: background-color 0.3s ease;
}