{% extends "base.html" %}

{% block title %}注文詳細{% endblock %}

{% block content %}
<p>{{ object.name }} {{ object.phone }}</p>
<p>{{ object.zipcode }}{{object.state}}{{object.city}}{{ object.address1}}</p>
{% if address2 %}{{ object.address2 }}{% endif %}
<p>注文ID: {{ object.id }}</p>
<p>注文日: {{ object.date }}</p>
<p>合計金額: {{ object.total_price }}円</p>

{% for item in object.orderitem_set.all %}
<p>イメージ {{ item.product.name }} - {{ item.price }}円 - {{ item.quantity }}個 {{item.get_total_price}}円</p>
{% empty %}
<p>商品がありません。</p>
{% endfor %}
{% endblock %}